body {
    background-color: gray;
    color: white;
    background-image: url("../images/background.jpg");
}

.jumbotron {
    box-sizing: border-box;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
}

.btn {
    background-color: red;
    border: 1px solid red;
}

.btn:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}

.start-container {
    margin-top: 150px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.row {
    border-radius: 25px;
    background: rgba(0, 0, 0, 0.56);
}

p.answer {
    margin-bottom: 30px;
    background-color: red;
    color: white;
}

.timer-p {
    margin-top: 40px;
}

.answer:hover {
    background: white;
    color: red;
}

.answer {
    padding-top: 7px;
    height: 45px;
    color: black;
    padding-left: 14px;
    background-color: white;
    border-radius: 4px;
}

.summary-correct {
    margin-top: 40px;
}